@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers :: List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (@Model == null || @Model.Count == 0)
{
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <h2>Customers</h2>
                <p>We don't have any customers yet.</p>
                <p>@Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
}
else
{    
    <div class="panel panel-default">
        <br />
        <!-- Default panel contents -->
        <div class="panel-heading">            
            <h2>Customers</h2>
            <p>@Html.ActionLink("New", "New", "Customer", new { @class = "btn btn-primary" })</p>
        </div>

        <!-- Table -->
        <table class="table" id="customers" >
            <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="">
                    <td scope="row">
                        @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
                    </td>
                    <td>@item.MembershipType.Name</td>
                    <td><button data-customer-id="@item.Id" data-customer-name="@item.Name" class="btn btn-link js-delete">Delete</button></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}*@
<br />
<h2>Customers</h2>
<p>@Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary" })</p>
<table class="table" id="customers" >
    <thead>
    <tr>
        <th scope="col">Customer</th>
        <th scope="col">Membership Type</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#customers").dataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data, type, customer) {
                            return "<button data-customer-id='" + customer.id + "' data-customer-name='" + customer.name + "' class='" + "btn btn-danger js-delete'" + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", " .js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm({
                        message: "Are you sure you want to delete the customer: <b>" + button.attr("data-customer-name") + "</b>",
                        buttons: {
                            confirm: {
                                label: 'Confirm',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.api().row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        }
                    });
                });

                //bootbox.confirm("Are you sure you want to delete the customer: " + button.attr("data-customer-name"),
                //    function (result) {
                //        alert(result);
                //        //if (confirm("Are you sure you want to delete the customer: " + button.attr("data-customer-name"))) {
                //        if (result) {
                //            $.ajax({
                //                url: "api/customers/" + $(this).attr("data-customer-id"),
                //                method: "DELETE",
                //                success: function () {
                //                    button.parents("tr").remove();
                //                }
                //            });
                //        }
                //    });
           
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval");

}


